//- - var items = ['Home', 'Abous us', 'Our Approach', 'Our work'];
header.header
    .header__top
        .container
            include contacts
    .container
        .header__bottom
            .logo.header__logo: img.logo__picture(src="images/logo.png" alg="picture")
            include nav
            a.button.header__button.button--red.button--small(href="/") Free Consultation