section.work
    .container
        +heading('white', true, 'work', 'Our Work', 'We are added our featured works below')

        ul.work__list
            li.work__item
                .work__text
                    img.work__icon(src="./images/icons/work-item.png")
                    .work__title Project Name
                    .work__description Facebook marketing
                .work__picture-box    
                    img.work__picture(src="./images/work-1.jpg")
            li.work__item
                .work__text
                    img.work__icon(src="./images/icons/work-item.png")
                    .work__title Project Name
                    .work__description Facebook marketing
                .work__picture-box    
                    img.work__picture(src="./images/work-2.jpg")
            li.work__item.work__item--reverse
                .work__text
                    img.work__icon(src="./images/icons/work-item.png")
                    .work__title Project Name
                    .work__description Facebook marketing
                .work__picture-box    
                    img.work__picture(src="./images/work-3.jpg")
            li.work__item.work__item--reverse
                .work__text
                    img.work__icon(src="./images/icons/work-item.png")
                    .work__title Project Name
                    .work__description Facebook marketing
                .work__picture-box    
                    img.work__picture(src="./images/work-4.jpg")
    

