.about {
    padding: 10.2rem 0 0;
    min-height: 54.2rem;

    @include respond('phone') {
        padding: 7rem 0;
    }

    &__heading {
        margin-bottom: 4.6rem;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        text-align: center;
        color: $color-secondary;

        @include respond('phone') {
            flex-direction: column;
        }
    }

    &__item {
        flex:0 1 24.3rem;

        @include respond('phone') {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }
    }

    &__header {
        font-family: $ff-main-bold;
        font-size: 2.2rem;
        margin-bottom: 1.4rem;
    }

    &__description {
        line-height: 2.2rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #5c5c5c;
    }
}