.header {
    &__top {
        background-color: $color-header-top;
        box-shadow: 0 0.1rem 0 $color-border;
        position: relative;
    }

    &__bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 4rem 0 3.8rem;

        @include respond('tab-port') {
            flex-direction: column;
            // align-items: center;
        }
    }

    &__logo {
        margin-right: auto;

        @include respond('tab-port') {
            margin: 0 0 2rem 0;
        }
        
    }

    &__nav {
        margin-right: 3.2rem;

        @include respond('tab-port') {
            margin: 0 0 2rem 0;
        }
    }
}

.contacts {
    text-align: right;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact {
    display: inline-block;
    vertical-align: top;
    padding: 1rem 1rem .8rem;
    color: $color-secondary;
    transition: .3s;
    font-size: 1.5rem;

    &:hover {
        color: lighten($color-secondary, 20%);
    }

    &:first-child {
        padding-right: 1.8rem;
        border-right: 1px solid $color-border;
    }

    &__icon {
        margin-right: .7rem;
        font-size: 2rem;
        vertical-align: middle;

        &--email {
            font-size: 1.9rem;
        }
    }
}

.facebook-icon {
    display: inline-block;
    font-size: 3rem;
    border-radius: 3px;
    // @include center-y();
    // right: 0;
}