body {
    line-height: .9;
    font-size: 1.6rem;
    font-family: $ff-main;
}

.heading {
    min-height: 7rem;
    text-align: center;

    &::after {
        content: '';
        display: inline-block;
        width: 4.7rem;
        height: 0.5rem;
        margin: 1.1rem auto 0;
        background-color: currentColor;
    }

    &--black{
        color: $color-secondary
    }

    &--white {
        color: $color-white;
    }

    &__main {
        font-family: $ff-main-bold;
        font-size: 3.6rem;
    }

    &__text {
        font-family: $ff-main-light;
        font-size: 2rem;
        line-height: 2.6rem;
    }
}
// title__text.title__text--black.title__text--line