$ff-main: 'helvetica-regular';
$ff-main-bold: 'helvetica-bold';
$ff-main-light: 'helvetica-light';
$ff-secondary: 'georgia-bold';

$color-white: #fff;
$color-black: #000;

$color-primary: #de2b24;
$color-secondary: #424242;
$color-border: #e2e2e2;
$color-yellow: #f8cd53;
$color-blue: #1287bf;

$color-header-top: #f0f2f4;